.HeadDiv{
    background-color: burlywood;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 2cm;
    border-radius: 0.1cm;
}
.HeadDiv text{
    margin: 1cm;
}
.HeadDiv:hover{
    border: 1px solid black;
}
.SecondDiv{
    text-align: right justify;
    font-family: Arial, Helvetica, sans-serif;
    height: 20%;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}
div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
header{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    height: auto;
    background: rgb(134, 62, 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    margin-top: -0.55713%;
    width: 100%;
    margin-left: -0.57%;
}
body{
    background-image: url("colorfulforest.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.Links{
    padding-right: 40px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    height: 50px;
    width: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    padding-left: 30px;
    border-radius: 5px;
    background-color: transparent;
    transition: 0.3s all;
}
.Links:hover{
    background-color: grey;
    transition: 0.2s all ease;
}
nav .mainmenu{
    margin-right: 2%;
    float: right; 
}
nav{
    padding-bottom: -50%;
}
main{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
section h3{
    letter-spacing: 3px;
    font-weight: 200;
}
section h1{
    text-transform: uppercase;
}
section div{
    animation:changeborder 10s infinite linear;
    border: 7px transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Logo{
    margin-left: auto;
}
.MainDiv{
    background-color: transparent;
    border-radius: 5px;
    transition: 0.5s all;
    color: white;
    padding: 1%;
    overflow: hidden;
    height: 2%;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    margin-top: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.MainDiv:hover{
    background-color: rgba(26, 25, 25, 0.726);
    transition: 0.5s all;
    box-shadow: 0px 0px 20px rgba(44, 44, 44, 0.452);
    height: 23%;
    cursor: default;
}
.MainText{
    margin-top: -1%;
    font-size: 150%;
    font-weight: bolder;
    color: white;
}
.LogoImg{
    width: 10%;
    height: 1%;
    margin-left: 2%; 
    padding: 1%; 
}