.HeadDiv{
    background-color: burlywood;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 2cm;
    border-radius: 0.1cm;
}
.HeadDiv text{
    margin: 1cm;
}
.HeadDiv:hover{
    border: 1px solid black;
}
.SecondDiv{
    text-align: right justify;
    font-family: Arial, Helvetica, sans-serif;
    height: 20%;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}
div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}